.simpleTable {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #DDDDDD;
}

.simpleTable td {
    padding: 5px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #DDDDDD;
    vertical-align: top;
    white-space: normal;
}

.simpleTable td.center {
    text-align: center;
}

.simpleTable .simpleTable_header td {
    white-space: nowrap;
    position: relative;
}

.simpleTable .simpleTable_header td[data-sort] {
    background-color: white;
}

.simpleTable .simpleTable_header td[data-sortable="true"][data-sort] .sort-icon {
    display: inline-block;
    background-image: url(../../images/main-sprite.png);
    background-size: 400px 440px;
    background-position: 100px 320px;
    width: 15px;
    height: 15px;
    position: absolute;
    right: 5px;
    top: 7px;
}

.simpleTable .simpleTable_header td[data-sortable="true"][data-sort="asc"] .sort-icon {
    background-position: 100px 320px;
}

.simpleTable .simpleTable_header td[data-sortable="true"][data-sort="desc"] .sort-icon {
    background-position: 180px 320px;
}

.simpleTable thead tr > td {
    background: #ececec;
}

.simpleTable tbody tr:nth-child(even) {
    background-color: rgba(87, 126, 193, .1);
}

.simpleTable tbody tr:nth-child(odd) {
    background-color: white;
}

.simpleTable tbody tr.hidden {
    display: none;
}

.simpleTable tbody tr.selected td {
    background-color: lightblue;
}

