/*****- SuperGrid CSS -*****/
.supergrid {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #DDDDDD;
}
.supergrid .supergrid_row {
  border-top-color: grey;
  border-bottom-color: grey;
  border: 1px grey solid;
}
.supergrid .supergrid_cell {
  display:inline-block;
  border-right: 1px solid grey;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 1px 2px 2px 1px;
}

/*****- SuperGrid Header CSS -*****/
.supergrid .supergrid_header {
  background-color: lightgrey;
}
.supergrid .supergrid_header.fixed {
    width: calc(100% - 10px); /* 10px width of scrollbar*/
    table-layout: fixed;
}
.supergrid .supergrid_header .supergrid_cell {
    white-space: nowrap;
    position: relative;
}
.supergrid .supergrid_header .supergrid_cell[data-sort] {
    background-color: white;
}
.supergrid .supergrid_header .supergrid_cell[data-sortable="true"][data-sort] .sort-icon {
    display: inline-block;
    background-image: url(../img/hicons.png);
    background-position: 359px -2px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    transform: rotate(90deg);
}

.supergrid .supergrid_header .supergrid_cell[data-sortable="true"][data-sort="desc"] .sort-icon {
    transform: rotate(-90deg);
}

/*****- SuperGrid Body CSS -*****/
.supergrid_body {
    height: calc(100vh - 128px);
    overflow: auto;
}

.supergrid .supergrid_body .supergrid_row:nth-child(odd) {
    background-color: white;
}
.supergrid .supergrid_body .supergrid_row:nth-child(even) {
    background-color: rgba(126, 126, 193, .2);
}

.supergrid .supergrid_footer {
  height: 75px;

}
/* Custom Scrollbar */
.grid::-webkit-scrollbar,
.supergrid-body::-webkit-scrollbar {
    width: 10px;
}

.grid::-webkit-scrollbar-track,
.supergrid-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(87, 126, 193, 0.3);
    border-radius: 0;
}

.grid::-webkit-scrollbar-thumb,
.supergrid-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
/*Paging CSS*/

.supergrid .supergrid_footer button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
}

.supergrid .paginate {
  position: relative;
  margin: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  position: absolute;
  -webkit-filter: drop-shadow(0 2px 0px rgba(0, 0, 0, 0.2));
}
.supergrid .paginate i {
  position: absolute;
  left: 0;
  width: 15px;
  height: 5px;
  border-radius: 2.5px;
  background: black;
  transition: all 0.15s ease;
}
.supergrid .paginate.left {
  right: 58%;
}
.supergrid .paginate.left i {
  transform-origin: 0% 50%;
}
.supergrid .paginate.left i:first-child {
  transform: translate(0, -1px) rotate(40deg);
}
.supergrid .paginate.left i:last-child {
  transform: translate(0, 1px) rotate(-40deg);
}
.supergrid .paginate.left:hover i:first-child {
  transform: translate(0, -1px) rotate(30deg);
}
.supergrid .paginate.left:hover i:last-child {
  transform: translate(0, 1px) rotate(-30deg);
}
.supergrid .paginate.left:active i:first-child {
  transform: translate(1px, -1px) rotate(25deg);
}
.supergrid .paginate.left:active i:last-child {
  transform: translate(1px, 1px) rotate(-25deg);
}
.supergrid .paginate.left[data-state=disabled] i:first-child {
  transform: translate(-5px, 0) rotate(0deg);
}
.supergrid .paginate.left[data-state=disabled] i:last-child {
  transform: translate(-5px, 0) rotate(0deg);
}
.supergrid .paginate.left[data-state=disabled]:hover i:first-child {
  transform: translate(-5px, 0) rotate(0deg);
}
.supergrid .paginate.left[data-state=disabled]:hover i:last-child {
  transform: translate(-5px, 0) rotate(0deg);
}
.supergrid .paginate.right {
  left: 58%;
}
.supergrid .paginate.right i {
  transform-origin: 100% 50%;
}
.supergrid .paginate.right i:first-child {
  transform: translate(0, 1px) rotate(40deg);
}
.supergrid .paginate.right i:last-child {
  transform: translate(0, -1px) rotate(-40deg);
}
.supergrid .paginate.right:hover i:first-child {
  transform: translate(0, 1px) rotate(30deg);
}
.supergrid .paginate.right:hover i:last-child {
  transform: translate(0, -1px) rotate(-30deg);
}
.supergrid .paginate.right:active i:first-child {
  transform: translate(1px, 1px) rotate(25deg);
}
.supergrid .paginate.right:active i:last-child {
  transform: translate(1px, -1px) rotate(-25deg);
}
.supergrid .paginate.right[data-state=disabled] i:first-child {
  transform: translate(5px, 0) rotate(0deg);
}
.supergrid .paginate.right[data-state=disabled] i:last-child {
  transform: translate(5px, 0) rotate(0deg);
}
.supergrid .paginate.right[data-state=disabled]:hover i:first-child {
  transform: translate(5px, 0) rotate(0deg);
}
.supergrid .paginate.right[data-state=disabled]:hover i:last-child {
  transform: translate(5px, 0) rotate(0deg);
}
.supergrid .paginate[data-state=disabled] {
  opacity: 0.3;
  cursor: default;
}

.supergrid .supergrid_footer .counter {
  text-align: center;
  position: absolute;
  width: 100%;
  font-size: 15px;
  font-family: Helvetica, sans-serif;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
  color: black;
}


/* Menu */
.application .menu {
    display: inline-block;
    float: right;
    cursor: pointer;
    margin: 2px;
}

.application .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

.application .menu a.item {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.application .menu a.item:hover {
    background: #ececec;
}

.application .menu a.item.active {
    background-color: rgba(87, 126, 193, 1);
    color: white;
}
