/*****- SuperGrid CSS -*****/
.supergrid {

}

.supergrid .supergrid_row {
    white-space: nowrap;
    border-bottom: rgba(0, 0, 0, 0.05) 1px solid;
    transition: .2s ease-in;
}

.supergrid .supergrid_cell {
    display: inline-block;
    text-overflow: ellipsis;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 5px;
    transition: .2s ease-in;
}

/*****- SuperGrid Header CSS -*****/
.supergrid .supergrid_header {
    background: rgba(10, 10, 20, .5);
    color: #ffffff;
    font-size: 13pt;
    border: 0px solid;
    position: relative;
    height: 45px;
    white-space: nowrap;
    overflow: auto;
}

.supergrid .supergrid_header::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    height: 0px;
    background: transparent; /* optional: just make scrollbar invisible */
}

.supergrid .supergrid_header .resize-handle {
    display: inline-block;
    height: 44px;
    width: 4px;
    padding: 0;
    position: absolute;
    z-index: 99;
}

.supergrid .supergrid_header.resizing .resize-handle,
.supergrid .supergrid_header:hover .resize-handle {
    background: rgba(0, 0, 0, 0.33);
    cursor: col-resize;
}

.supergrid .supergrid_header .supergrid_cell {
    white-space: nowrap;
    position: relative;
    vertical-align: middle;
    line-height: 35px;
    height: 100%;
}

.supergrid .supergrid_table .supergrid_cell {
    display: table-cell;

}

.supergrid .supergrid_header .supergrid_cell.ui-sortable-handle > div {
    line-height: 35px;
    /*background: red;*/
}

.supergrid .supergrid_header .supergrid_cell.ui-sortable-handle.ui-sortable-helper {
    transition: 0s ease-in;
    background: rgba(10, 10, 20, .5);
    cursor: pointer;
    color: white;
    vertical-align: middle;
}

.supergrid .supergrid_header .supergrid_cell:hover {
    background: rgba(10, 10, 20, .3);
    cursor: pointer;
    color: white;
}

.supergrid .supergrid_header .supergrid_cell[data-sort] {
    color: #f6f3f7;
    background: rgba(10, 10, 20, .5);
}

.supergrid .supergrid_header .supergrid_cell[data-sortable="true"][data-sort] .sort-icon {
    display: inline-block;
    background-image: url(../img/hicons.png);
    background-position: 359px -2px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 10px;
    transform: rotate(90deg);
    -webkit-filter: invert(100%);
}

.supergrid .supergrid_header .supergrid_cell[data-sortable="true"][data-sort="desc"] .sort-icon {
    transform: rotate(-90deg);
}

/*****- SuperGrid Body CSS -*****/
.supergrid_body {
    height: calc(100vh - 131px);
    overflow: auto;
}

.supergrid .supergrid_body .supergrid_row:nth-child(odd) {
    background-color: white;
}

.supergrid .supergrid_body .supergrid_row:nth-child(even) {
    background: rgba(50, 50, 50, .2);
}

.supergrid .supergrid_footer {
    height: 36px;
}

.supergrid .supergrid_body .supergrid_row:nth-child(odd):hover,
.supergrid .supergrid_body .supergrid_row:nth-child(even):hover {
    background: rgba(10, 10, 20, .1);
}

/* Custom Scrollbar */
.supergrid_body::-webkit-scrollbar,
.supergrid-body::-webkit-scrollbar {
    width: 10px;
}

.supergrid_body::-webkit-scrollbar-track,
.supergrid-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(87, 126, 193, 0.3);
    border-radius: 0;
}

.supergrid_body::-webkit-scrollbar-thumb,
.supergrid-body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/*Paging CSS*/

.supergrid .supergrid_footer .pager > * {
    display: inline-block;
}

.supergrid .supergrid_footer button {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline: 0;
}

/*.supergrid .paginate * {
  display: inline-block;
}*/
.supergrid_footer .pager {
    margin: 0 auto;
    padding: 2px 0;
    text-align: center;
    display: block;
}

.supergrid .paginate {
    position: relative;
    margin: 0px;
    height: 30px;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    -webkit-filter: drop-shadow(0 2px 0px rgba(0, 0, 0, 0.2));
}

.supergrid .paginate i {
    position: absolute;
    left: 0;
    width: 15px;
    height: 5px;
    border-radius: 2.5px;
    background: black;
    transition: all 0.15s ease;
}

.supergrid .paginate.left {
    /*right: 58;
    float: left;*/
}

.supergrid .paginate.left i {
    transform-origin: 0% 50%;
}

.supergrid .paginate.left i:first-child {
    transform: translate(0, -1px) rotate(40deg);
}

.supergrid .paginate.left i:last-child {
    transform: translate(0, 1px) rotate(-40deg);
}

.supergrid .paginate.left:hover i:first-child {
    transform: translate(0, -1px) rotate(30deg);
}

.supergrid .paginate.left:hover i:last-child {
    transform: translate(0, 1px) rotate(-30deg);
}

.supergrid .paginate.left:active i:first-child {
    transform: translate(1px, -1px) rotate(25deg);
}

.supergrid .paginate.left:active i:last-child {
    transform: translate(1px, 1px) rotate(-25deg);
}

.supergrid .paginate.left[data-state=disabled] i:first-child {
    transform: translate(-5px, 0) rotate(0deg);
}

.supergrid .paginate.left[data-state=disabled] i:last-child {
    transform: translate(-5px, 0) rotate(0deg);
}

.supergrid .paginate.left[data-state=disabled]:hover i:first-child {
    transform: translate(-5px, 0) rotate(0deg);
}

.supergrid .paginate.left[data-state=disabled]:hover i:last-child {
    transform: translate(-5px, 0) rotate(0deg);
}

.supergrid .paginate.right {
    /*left: 58%;*/
}

.supergrid .paginate.right i {
    transform-origin: 100% 50%;
}

.supergrid .paginate.right i:first-child {
    transform: translate(0, 1px) rotate(40deg);
}

.supergrid .paginate.right i:last-child {
    transform: translate(0, -1px) rotate(-40deg);
}

.supergrid .paginate.right:hover i:first-child {
    transform: translate(0, 1px) rotate(30deg);
}

.supergrid .paginate.right:hover i:last-child {
    transform: translate(0, -1px) rotate(-30deg);
}

.supergrid .paginate.right:active i:first-child {
    transform: translate(1px, 1px) rotate(25deg);
}

.supergrid .paginate.right:active i:last-child {
    transform: translate(1px, -1px) rotate(-25deg);
}

.supergrid .paginate.right[data-state=disabled] i:first-child {
    transform: translate(5px, 0) rotate(0deg);
}

.supergrid .paginate.right[data-state=disabled] i:last-child {
    transform: translate(5px, 0) rotate(0deg);
}

.supergrid .paginate.right[data-state=disabled]:hover i:first-child {
    transform: translate(5px, 0) rotate(0deg);

}

.supergrid .paginate.right[data-state=disabled]:hover i:last-child {
    transform: translate(5px, 0) rotate(0deg);
}

.supergrid .paginate[data-state=disabled] {
    opacity: 0.3;
    cursor: default;
}

.supergrid .supergrid_footer .counter {
    vertical-align: text-bottom;
    line-height: 30px;
    font-size: 15px;
    margin: 0 5px;
    font-family: Helvetica, sans-serif;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    color: black;
}
